body {
    font-family: Arial;
    background: #f2f4f7;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 30px;
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 15px #ccc;
}

h1 {
    text-align: center;
    color: #2a4d69;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

.owner { background: #1a73e8; }
.customer { background: #34a853; }

.hidden { display: none; }

.tab-buttons button {
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
}

.receipt {
    background: #eef7ff;
    padding: 10px;
    margin-top: 10px;
    border-left: 3px solid #1a73e8;
}
